body{
    background-color: black;
}
img{
    width:36%;
}
.main{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.box{
    width: 100%;
    height: 80%;
    display: flex;
}
.heading, .heading2{
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    gap: 10px;
    margin: 30px 0px;
}
.row1, .row2, .row3{
    display: flex;
    justify-content: space-evenly;
}
label{
    font-size: 10px;
}
.obj{
    display: flex;
    flex-direction: column;
}
button{
    width: fit-content;
    background-color: salmon;
    font-size: 15px;
    font-weight: bold;
    border:0;
    border-radius: 5px;
    padding:10px;
    margin-left: 20px;
    margin-top: 10px;
}
.logIn{
    margin-left: 20px;
}
.credit{
    position: absolute;
    bottom: 8px;
    left:16px;
    color:white;
}
a{
    color:salmon;
}
input{
    width:200px;
    border: 1px solid salmon;
    border-radius: 5px;
}